body {
  font-family: 'Roboto', sans-serif;
}

/* GENERALI */
.h3-4 {
  font-size: 2.1em;
  color: #ffffff;
}

.white {
  color: #ffffff;
}

.grey {
  color: #bac5e6;
}

/* TOP HEADER */
.top-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  line-height: 65px;
  background-color: #ffffff;
}

.logo-header {
  position: relative;
  top: 9px;
  left: 0;
  width: 180px;
}

.menu_inline li {
  display: inline-block;
}

.menu_inline a,
.menu_inline i {
  text-decoration: none;
  vertical-align: middle;
}

.menu-color {
  color: #031B4E;
}

.ico-menu {
  color: #2285fd;
  font-size: 1.2em;
}

.fa-chevron-down:before {
  position: relative;
  top: 2px;
}

.button-sign-up {
  color: #0069FF;
  border: 1px solid #0069FF;
  border-radius: 5px;
}

.button-sign-up:hover {
  background-color: #0069FF;
  color: #ffffff;
}

/* INIZIO JUMBOTRON */
.jumbotron {
  background-image: url(../img/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron h1 {
  font-size: 4em;
  color: #ffffff;
}

.jumbotron p {
  font-size: 1.4em;
  color: #a1bbff;
}

.box-white {
  background-color: #ffffff;
  border-radius: 5px;
}

.form-input {
  width: 100%;
  border-radius: 5px;
  line-height: 2em;
  padding: 5px;
  border: 1px solid #EEE;
}

.form-button {
  background-color: #579aff;
  color: #ffffff;
  width: 100%;
  border-radius: 5px;
  line-height: 1.6em;
  padding: 5px 10px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0069ff;
}

.google-button {
  background-color: white;
  width: 100%;
  border-radius: 5px;
  line-height: 1.6em;
  padding: 5px 10px;
  -webkit-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #EEE;
  cursor: pointer;
}

.google-button:hover {
  color: #031b4e;
  background-color: #f2f8ff;
  border: 1px solid rgba(0, 105, 255, .2);
}

.google-button::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url('../img/google-icon.png');
  background-size: cover;
}

.jumbotron h5 a {
  color: #0069FF;
  text-decoration: underline;
}

.h3-1 {
  font-size: 1.8em;
  color: #031b4e;
}

.h3-2 {
  font-size: 1.8em;
  color: #0069FF;
}

/* SEZIONE CUSTOMER */
.customer {
  background-color: #f3f5f9;
}

.customer-img {
  width: 130px;
}

.line-height {
  line-height: 120px;
}

.v-align {
  vertical-align: middle;
}

.h3-customer {
  font-size: 1.1em;
  color: #6f7b97;
}

.customer-link {
  color: #0069FF;
}

.customer-link:hover,
.customer-link:focus,
.customer-link:active {
  color: #085fdb;
}

/* SEZIONE DEPLOY */
.h3-3 {
  font-size: 2.1em;
  color: #031b4e;
}

.p-1,
.li a {
  font-size: 1.4em;
  color: #5c6a88;
  list-style: none;
}

.li a:hover {
  color: #031b4e;
}
.li li {
  padding: 10px;
  border-left: 2px solid #cccccc;
}

.li li:hover {
  padding: 10px;
  border-left: 2px solid #0069FF;
}

.deploy-img {
  height: 40px;
}

.h3-deploy {
  font-size: 1.3em;
  color: #031b4e;
}

.p-deploy {
  color: #5c6a88;
}

.min-h {
  min-height: 90px;
}

/* SEZIONE DESIGNED */
.designed img {
  width: 100%;
}

.arrow {
  color: #6f7b97;
  font-size: 2.3em;
  padding-top: 160px;
}

.slider-p ul {
  list-style-type: none;
}

.slider-p ul li {
  display: inline-block;
  color: #0069FF;
  cursor: pointer;
}

.slider-p ul li::before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 0.7em;
}

.slider-p ul li.active::before {
  font-weight: 900;
}

.slider-p ul li:hover::before,
.slider-p ul li:active::before,
.slider-p ul li:focus::before {
  font-weight: 900;
  opacity: 0.8;
}

/* SEZIONE SERVICE */
.bg-gradient {
  background: #0047C5;
  /* fallback color if gradients are not supported*/
  background: -webkit-linear-gradient(#0047C5, #00209B);
  background: -moz-linear-gradient(#0047C5, #00209B);
  background: -o-linear-gradient(#0047C5, #00209B);
  background: linear-gradient(#0047C5, #00209B);
}

.b-bottom {
  border-bottom: 1px solid #FFF;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 0.8em;
  margin-right: 20px;
}

.customer-link-2 {
  color: #00d7d2;
}

.customer-link-2:hover,
.customer-link-2:focus,
.customer-link-2:active {
  color: #085fdb;
}

/* SEZIONE DEVELOPMENT */
.slider-dev-img {
  width: 300px;
}

.bg-dev-cont {
  background-color: #ffffff;
  border-radius: 5px;
}

.customer-2 {
  background-color: #f3f5f9;
}

/* SEZIONE GET STARTED */
.button-account {
  color: #0069FF;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.button-account:hover {
  background-color: #0069FF;
  color: #ffffff;
}

/* FOOTER */
.bg-dark-blue {
  background-color: #031B4E;
}

.footer h4 {
  font-size: 1.2em;
  padding-bottom: 15px;
}

.footer a,
.footer p {
  color: #7a859d;
}

.footer a:hover {
  color: #ffffff;
}

.social-link {
  font-size: 1.4em;
}

/* DIRECT MESSAGE */
.direct-message {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 470px;
}

.direct-left,
.direct-right {
  float: left;
}

.direct-left {
  width: 80%;
}

.direct-right {
  width: 20%;
}

.cube-icon {
  position: relative;
  background: #0069FF;
  width: 65px;
  height: 65px;
  line-height: 65px;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.cube-icon img {
  width: 100%;
}

.red-b {
  position: absolute;
  top: 20px;
  right: 40px;
  background: red;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  -webkit-box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.number {
  position: relative;
  bottom: 4px;
  left: 5px;
  color: #ffffff;
  font-weight: 500;
}

.text-area {
  position: relative;
  background: #ffffff;
  width: 300px;
  border-radius: 5px;
  padding: 14px;
  -webkit-box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}

.triangle {
  position: absolute;
  left: 320px;
  top: 60px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #ffffff;
}

/* MEDIA QUERY */
@media screen and (max-width: 992px) and (min-width: 768px) {
  .jumbotron h1 {
    font-size: 2.7em;
  }

  .md_display_block {
    display: block;
  }

  .md_display_none {
    display: none;
  }

  .customer-img {
    width: 100px;
  }

  .margin_bot {
    margin-bottom: 40px;
  }

  .min-h {
    min-height: 120px;
  }

  .arrow {
    padding-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .xs_display_block {
    display: block;
  }

  .xs_display_none {
    display: none;
  }

  .jumbotron h1 {
    font-size: 2.5em;
  }

  .customer-img {
    width: 180px;
  }

  .min-h {
    min-height: 70px;
  }

  .margin_bot {
    margin-bottom: 40px;
  }

  .arrow {
    padding-top: 70px;
    font-size: 1.4em;
  }

  .customer {
    background-color: #f3f5f9;
  }
  .slider-dev-img {
    width: 90%;
  }
}
