body {
  font-family: 'Roboto', sans-serif;
}

/* TOP HEADER */
.top-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  line-height: 65px;
  background-color: #ffffff;
}

.logo-header {
  position: relative;
  top: 9px;
  left: 0;
  width: 180px;
}

.menu_inline li {
  display: inline-block;
}

.menu_inline a {
  text-decoration: none;
  vertical-align: middle;
}

.menu-color {
  color: #031B4E;
}

.fa-chevron-down:before {
  position: relative;
  top: 2px;
}

.button-sign-up {
  color: #0069FF;
  border: 1px solid #0069FF;
  border-radius: 5px;
}

.button-sign-up:hover {
  background-color: #0069FF;
  color: #ffffff;
}
/* INIZIO JUMBOTRON */
.jumbotron {
  background-image: url(../img/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.jumbotron h1 {
  font-size: 4em;
  color: #ffffff;
}

.jumbotron p {
  font-size: 1.4em;
  color: #a1bbff;
}

.box-white {
  background-color: #ffffff;
  border-radius: 5px;
}

.form-input {
  width: 100%;
  border-radius: 5px;
  line-height: 2em;
  padding: 5px;
  border: 1px solid #EEE;
}

.form-button {
  background-color: #579aff;
  color: #ffffff;
  width: 100%;
  border-radius: 5px;
  line-height: 1.6em;
  padding: 5px 10px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0069ff;
}

.google-button {
  background-color: white;
  width: 100%;
  border-radius: 5px;
  line-height: 1.6em;
  padding: 5px 10px;
  -webkit-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #EEE;
  cursor: pointer;
}

.google-button:hover {
  color: #031b4e;
  background-color: #f2f8ff;
  border: 1px solid rgba(0, 105, 255, .2);
}

.google-button::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url('../img/google-icon.png');
  background-size: cover;
}

.jumbotron h5 a {
  color: #0069FF;
  text-decoration: underline;
}

.h3-1 {
  font-size: 1.8em;
  color: #031b4e;
}

.h3-2 {
  font-size: 1.8em;
  color: #0069FF;
}
