body {
  font-family: 'Roboto', sans-serif;
}

.top-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  line-height: 65px;
  background-color: #ffffff;
}

.logo-header {
  vertical-align: middle;
  width: 180px;
}

.menu_inline li {
  display: inline-block;
}

.menu_inline a {
  text-decoration: none;
}

/* INIZIO JUMBOTRON */
.jumbotron {
  background-image: url(../img/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.box-white {
  background-color: #ffffff;
  border-radius: 5px;
}

.jumbotron h1 {
  font-size: 4em;
  color: #ffffff;
}

.jumbotron p {
  font-size: 1.4em;
  color: #a1bbff;
}
